
.inexistant {
    background-image: url('../imgs/icon.png');
}
.btn-Col {
    background-color: var(--darkcolor);
    color:  var(--whitesmoke);
}
.btn-Col:hover {
    background-color: var(--whitesmoke);
    color: var(--darkcolor);
    border: 1px solid var(--darkcolor) ;
}

.pa::after {
    color: black !important;
    content: "GaPa" !important; 
}

.pa:hover::before {
    content: "100" !important; 
}
.pa:hover::after {
    display: none !important; 
}

input.ga {
    background: var(--ColorWLow);
    color: var(--whitesmoke);
}
input.ga:hover {
    background-color: var(--whitesmoke) ;
    color: var(--darkcolor);
}
input.rune {
    background: var(--ColorWLow);
    color: var(--whitesmoke);
}
input.rune:hover {
    background-color: var(--whitesmoke) ;
    color: var(--darkcolor);
}
