.calculator {  
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    text-align: center;
}

#main-cal {
    background-color: var(--ColorNone);
    border-radius: 10px;
    padding: 20px;
    border: var(--whitesmoke) 1px solid ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#num1 {
    background-color: var(--ColorNone);
    padding: 10px 20px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid var(--whitesmoke);
    border-radius: 10px;
    color: var(--whitesmoke);
}

#itemList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="button"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}
#itemList {
    cursor: var(--btn-mouse);
    transition: background-color 0.3s ease;
}
.inexistant {
    border: 0px solid var(--ColorNone) !important;
    background: var(--ColorNone)!important;
    cursor: var(--Normal-ms) !important;
}


.rune {
    width: 100%;
    margin-bottom: 10px;
}

#operations {
    margin-left: auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 180px;
    overflow-y: auto; 
    color: var(--whitesmoke);
}

#operations span {
    display: block;
    margin-top: 5px;
}
#rslt {
    text-align: start;
    margin: 10px;
}

::placeholder {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    color: var(--whitesmoke);
}

.menu {
    margin: 20px;
    text-align: center;
    
}
.menu a {
    color: white;
}