@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
  }

:root {
    /* ColorS */
    --whitesmoke: #e3e3e3;
    --darkcolor: rgb(22, 2, 2);
    --bg-header: #2222229f;
    --bg-header-hover: white;
    --ColorPink: #e5b0b2;
    --ColorNone: rgba(255, 0, 0, 0);
    --ColorWLow: rgba(255, 255, 255, 0.055)
    
    /* MOUSE */
    --btn-mouse: pointer;
    --Normal-ms: default;
}

::-webkit-scrollbar {
    width: 7px;
    background: var(--bg-header); 
    }
    ::-webkit-scrollbar-thumb {
    background-color: white; 
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1; 
    border-radius: 3px;
    }
    button {
        cursor: pointer;
    }

    body {
        background-color: var(--darkcolor);
        font-family: 'Cairo', sans-serif;
        color: var(--whitesmoke);
    }

    body::after {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #ed2ff0;
        left: 5%;
        top: 20%;
        filter: blur(150px);
        pointer-events: none;
    }
    body::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #c55151;
        left: 90%;
        top: 74%;
        filter: blur(150px);
        pointer-events: none;
    }

    @media only screen and (max-width: 600px) {

    body::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #c55151;
        left: 60%;
        top: 74%;
        filter: blur(150px);
        pointer-events: none;
    }

}
    .logo img {
        width: 30%;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 0px #222);
        -webkit-filter: brightness(10) saturate(100%) grayscale(1);
        filter: brightness(10) saturate(100%) grayscale(1);
    }

    div#main-top {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 45rem;
    }


#kamas, #money {
    width: 70%;
    padding: 10px;
    background-color: var(--bg-header);
    color: white;
    border: 1px solid var(--ColorPink);
    border-radius: 10px;
    margin: 5px;
}
#kamas, #money:focus{
    background-color: var(--bg-header);
}
#calcul {
    width: 60%;
    padding: 10px;
    background-color: var(--bg-header);
    color: white;
    border: 1px solid var(--ColorPink);
    border-radius: 10px;
    margin: 5px;
}
#calcul:hover {
    background-color: var(--darkcolor);
    box-shadow: 4px 6px 7px var(--darkcolor);
}

#result {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
::placeholder {
    color: white;
}

button, input[type="button"] {
    cursor: pointer;
}